* {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  width: 100%;
  left: 0;
}
.nav {
  background-color: black;
  position: fixed;
  top: 0;
  /*height: 100%;*/
  width: 100%;
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;*/
}

.nav-father {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.nav-left__item-more {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  display: inline-block;
}

.nav-left__item-more:hover {
}

.nav-left__item-more-icon {
  color: white;
}

.nav-left {
  height: auto;
}

.nav-left__item {
  height: auto;
}

.nav-left__item-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  height: 100%;
  padding: 12px 24px;
  display: inline-block;
}

.nav-left__item:a {
  display: inline-block;
}

.nav-left__item-link:hover {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  height: 100%;
  padding: 12px 24px;
  display: inline-block;
  background-color: #ccc;
}

.nav-left__item-link:hover .nav-left__item-more {
  background-color: #ccc;
  color: black;
  text-decoration: none;
  border-color: #ccc;
  outline: none;
}

.nav-left__item-link:hover .nav-left__item-more-icon {
  color: black;
}

.nav-left__item-more {
  background: black;
  font-size: 20px;
}

/*.nav-left__item-more:hover {
    background-color: #ccc;
}*/

.nav-left__item-drop {
  /*display: block;*/
}

.nav-left__item-drop:hover .nav-lef__item-drop-content {
  display: block;
}

.nav-lef__item-drop-content {
  display: none;
  position: absolute;
  background-color: grey;
  left: 474px;
  top: 48px;
  background-color: white;
}

.nav-left__item-drop-link {
  display: block;
  color: black;
  padding: 12px 24px;
  text-transform: capitalize;
  text-decoration: none;
}

.nav-left__item-drop-link:hover {
  background-color: #ccc;
}

.nav-right {
  height: 100%;
}

.nav-right__search {
  color: white;
  width: auto;
  padding: 12px 24px;
  height: 100%;
}

.nav-right__search:hover {
  color: white;
  width: auto;

  padding: 12px 24px;
  color: black;
  background-color: #f44336;
}

.content {
  /*position: relative;*/
  width: 100%;
  /*display: none;*/
}

.band-section {
  display: flex;
  justify-content: center;
}

.band-section__content {
  width: 800px;
}

.band-section__title {
  text-align: center;
  font-size: 30px;
}

.band-section__subtitle {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: #bdb1b1;
}

.band-section__script {
  text-align: justify;
  font-size: 15px;
  line-height: 1.5;
}

.band-section__image {
  display: flex;
}

.band-section__image-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.band-section__image-item-text {
  text-align: center;
}

.band-section__image-item-image {
  width: 60%;
  margin-bottom: 16px;
  border-radius: 4px;
  align-self: center;
}

/* CSS TOUR START */
.tour-container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.tour {
  width: 800px;
  padding: 64px 16px;
}

.tour h2 {
  text-align: center;
  color: white;
  font-size: 30px;
}

div.tour p:only-of-type {
  text-align: center;
  color: grey;
  padding: 12px 24px;
}

.tour-ticket__month {
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 0px;
  margin: 0px 8px;
}

.tour-ticket__month-item {
  list-style-type: none;
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
  color: grey;
}

.sold-out span {
  padding: 0px 8px;
  background-color: #f44336;
  color: white;
  border-radius: 2px;
  margin-left: 5px;
}

.have-ticket span {
  float: right;
  background-color: black;
  color: white;
  padding: 0px 8px;
  border-radius: 50%;
  text-align: center;
  margin-right: 16px;
  line-height: 1.5;
}

.tour__ticket-card {
  /*background-color: white;*/
  display: flex;
}

.tour__ticket-card-item {
  padding: 0px 8px;
}

.tour__ticket-card-item img {
  width: 100%;
  vertical-align: middle;
}
.tour__ticket-card-item-info p {
  color: black;
}

.tour__ticket-card-item-info {
  background-color: white;
  padding: 0px 16px;
}

/* css selector */
div.tour__ticket-card-item-info p:nth-child(1) {
  padding: 15px 0px;
}

div.tour__ticket-card-item-info p:nth-child(2) {
  padding: 15px 0px;
  color: grey;
}

div.tour__ticket-card-item-info p:nth-child(3) {
  padding: 15px 0px;
}

div.tour__ticket-card-item-info button:only-of-type {
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
}

div.tour__ticket-card-item-info button:only-of-type:hover {
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: #ccc;
  color: black;
  border: none;
}

.tour-ticket__date {
}

.tour__ticket-button-buy {
}
/* CSS TOUR END */

/*CSS TICKET MODAL START*/
.ticket-modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 100px;
}
.ticket-modal__container {
  position: relative;
  background-color: white;
  width: 900px;
  margin: 0 auto;
}

.model-header {
  padding: 32px 16px;
  background-color: #009689;
}
.model-header h2 {
  margin: 10px 0px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 30px;
  color: white;
}

.model-header h2 i {
  font-size: 30px;
}

.model-header__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  color: white;
  font-size: 18px;
}

.model-header__close:hover {
  background-color: #ccc;
  color: black;
}

.model-content {
  padding: 0px 16px;
}

div.model-content p {
  margin: 15px 0px;
}

.model-content__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  overflow: visible;
  box-sizing: border-box;
}

.model-content__btn-pay {
  margin: 16px 0px;
  padding: 16px;
  background-color: #009689;
  color: white;
  width: 100%;
  text-transform: uppercase;
  border: none;
}
.model-content__btn-pay:hover {
  background-color: #ccc;
  color: black;
}

.model-content__btn-close {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  margin-bottom: 16px;
}

.model-content__btn-close:hover {
  background-color: #ccc;
  color: black;
}

.model-content__support {
  float: right;
  display: inline-block;
  padding: 8px 16px;
  margin: 0px !important;
}

/*CSS TICKET MODAL START*/
